<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-title style="font-family:monospace;"> About </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content  >

  <h4 > FmS </h4>
  <p class="ion-padding-start ion-padding-end">
    FmS is a Family Spending tracking application that is focused only on daily spending along with customizable Categories and Members.
    This includes Calendar Spending Home view, New Spending, Category-Member, Summary view, and spending day view.
  </p>

  <h6> Calendar Spending Home View </h6>
  <p class="ion-padding-start ion-padding-end">
    You can clearly see here all the entered spending within the past 12 months on a calendar view.
    These spendings are emphasized with blue color on entered dates. 
    Total spendings for each day and for the selected month are displayed.
    Also, you can see a listed view and a summary of spendings for a selected day using the calendar.
  </p>

  <h6> Category-Member </h6>
  <p class="ion-padding-start ion-padding-end">
    Category items help you to mention that this was spent what for. Examples:
  </p>

  <dl>
    <dt class="ion-padding-start ion-padding-end">Examples</dt>
    <dd>- Food</dd>
    <dd>- Medicine</dd>
    <dd>- Bills</dd>
  </dl>

  <p class="ion-padding-start ion-padding-end" >
    Member items help to mention for whom you have done the spending Examples:
  </p>

  <dl>
    <dt class="ion-padding-start ion-padding-end">Examples</dt>
    <dd>- Family</dd>
    <dd>- Me</dd>
    <dd>- Outsource</dd>
  </dl>

  <p class="ion-padding-start ion-padding-end"> For each "categories" and "members" will have a maximum of 10  </p>
  

  <h6> New Spending </h6>
  <p class="ion-padding-start ion-padding-end">
    Use this to add new spending for a selected date by filling out the following details.
  </p>
  <div class="ion-padding-start ion-padding-end">
    <ol >
      <li>Date      : date of the spending </li>
      <li>Member    : for whom you spend  </li>
      <li>Category  : type of the spending </li>
      <li>Note      : breif description </li>
      <li>Essential : imprtant or not </li>
      <li>Amount    : Spending amount </li>
    </ol>
  </div>

  <h6> Summary </h6>
  <p class="ion-padding-start ion-padding-end">
    Total spending will display for the selected summary type with the category, member, and essentiality. By default, the current date summary will be shown ( if any spending has done).
  </p>
  <dl>
    <dt class="ion-padding-start ion-padding-end">Summary types</dt>
    <dd>- Today, Yesterday</dd>
    <dd>- This week, Last week</dd>
    <dd>- This month, Last month</dd>
    <dd>- This year, Last year</dd>
  </dl>

  <h6> Day View </h6>
  <p class="ion-padding-start ion-padding-end">
    Here, you can see spendings for the selected date. Also, you can manage spendings by editing and deleting.
  </p>

  <br>
  <p class="ion-padding-start ion-padding-end">
    Next updates will be included with date range spending, summary charts, selected date range summary, etc.
  </p>
  <p class="ion-padding-start ion-padding-end">
    Please share your feedbacks
  </p>

</ion-content>
