<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-title style="font-family:monospace;"> About </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content  >

  <h4 > FmS </h4>
  <p class="ion-padding-start ion-padding-end">
    FmS is a Family Spending tracking application for a family which is focused only on daily spending with managing customizable Categories and Members.
    This includes Calendar Spending Home view, New Spending, Category-Member, Summary view and spending day view
  </p>

  <h6> Calendar Spending Home View </h6>
  <p class="ion-padding-start ion-padding-end">
    You can clearly see here all the entered spending within past 12 month on a calendar view.
    These spendings are emphasized with blue color on entered dates. 
    Total spendings for each day and for the selected month are displayed.
    Also you can view listed and summary spending for a selected day from this.
  </p>

  <h6> Category-Member </h6>
  <p class="ion-padding-start ion-padding-end">
    Categories help you to mention that this was spent what for. Examples:
  </p>

  <ul>
    <li>Food</li>
    <li>Medicine</li>
    <li>Bills</li>
  </ul>
  <p class="ion-padding-start ion-padding-end" >
  Members help you to mention that this was spent for who. Examples:
  </p>

  <ul>
    <li>Family</li>
    <li>Mother</li>
    <li>Father</li>
  </ul>

  <p class="ion-padding-start ion-padding-end"> both categories and members can have 10 maximum limit for each </p>
  

  <h6> New Spending </h6>
  <p class="ion-padding-start ion-padding-end fontClass">
    In here you can input a new spening for a selected date.
  </p>

</ion-content>
