ion-content {
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    border: 3px solid rgba(12, 158, 243, 0.842);
}

.fontClass {
    font-style:inherit ;
    font-family: fantasy;
    font-size:medium ;
    color: darkslategray;

}

p,dt,dd,li{
    font-style:inherit ;
    font-family: fantasy;
    font-size:medium ;
    color: darkslategray;
}

h4,h6{
    font-style:inherit ;
    font-family: fantasy;
    font-weight: bold;
}

h6{
    color:darkcyan;
    
}