<ion-content>

  <div class="ion-text-start"> 

    <div style="font-family:monospace;" class="ion-text-center"> <b> Spending View </b></div>

    <br>
 
    <div  class="fontClass">Date</div >         
    <div lines="line"  class="fontDetails">{{thisDay}}</div >    
    <br>

    <div class="fontClass">Member</div>
    <div class="fontDetails" lines="none">{{member}}</div>
    <br>

    <div class="fontClass">Category</div>  
    <div class="fontDetails" lines="none"> {{category}} </div>
    <br>

    <div class="fontClass">Description</div>
    <div class="fontDetails" lines="none">{{description}} </div>
    <br>

    <div class="fontClass" *ngIf="unnecessary==0">This is necessary</div>
    <div class="fontClass" *ngIf="unnecessary==1">This is unnecessary</div>
    <br>

    <div class="fontClass">Amount</div>
    <div class="fontDetails" lines="none">Rs. {{amount}} /= </div>
    <br>

    <ion-button color="success" expand="block" (click)="closePopover()">Ok</ion-button>
     
  </div>

</ion-content>