<ion-content>

  <div class="ion-text-start"> 

    <div style="font-family:monospace;" class="ion-text-center"> <b> Spending View </b></div>

    <br>
 
    <div class="fontClass">Date</div >         
    <div class="fontDetails">{{date|date: 'MMMM dd yyyy'}}</div >    
    <br>

    <div class="fontClass">Member</div>
    <div class="fontDetails" >{{member}}</div>
    <br>

    <div class="fontClass">Category</div>  
    <div class="fontDetails" > {{category}} </div>
    <br>

    <div class="fontClass">Description</div>
    <div class="fontDetails" >{{description}} </div>
    <br>

    <div class="fontClass" *ngIf="unnecessary==0">This is <b>necessary</b></div>
    <div class="fontClass" *ngIf="unnecessary==1">This is <b>unnecessary</b></div>
    <br>

    <div class="fontClass">Amount</div>
    <div class="fontDetails" >Rs. {{amount}} /= </div>
    <br>

    <ion-button color="success" expand="block" (click)="closePopover()">Ok</ion-button>
     
  </div>

</ion-content>