.fontClass {
    font-style:inherit ;
    font-family: fantasy;
    color:dimgrey;
    font-size: small;
}

.fontDetails {
    font-style:italic ;
    font-family: fantasy;
    color:grey;
    font-weight: bold;
    font-size: small;
    
}

ion-content {
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 15px;
    --padding-top: 15px;
    --width: 1000px;


}

ion-select::part(icon) {
    color:cornflowerblue;
    opacity: 1;
}
ion-select {
    width: 100%;
  
    justify-content: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    color:darkslategrey;
    font-style:italic ;
    font-family: fantasy;
    color:grey;
    font-weight: bold;
    font-size: smaller;
    align-items: flex-end;
}