<ion-content>

  <div class="ion-text-start"> 

    <div style="font-family:monospace;" class="ion-text-center"> <b> Spending Edition </b></div>

    <br>

    <ion-row >

      <ion-col size="4">
        <ion-item lines="none">
          <div class="fontClass">Date</div >
        </ion-item>
      </ion-col>

      <ion-col size="8">
        <ion-item lines="none">
          <div class="fontClass"> <b>{{date|date: 'MMMM dd yyyy'}}</b></div >   
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row >

      <ion-col size="6">
        <ion-item lines="none">
          <ion-label class="fontClass">Member</ion-label>
        </ion-item>
        
      </ion-col>

      <ion-col size="6">
        <ion-item lines="none">
          <ion-select class="center" [placeholder]="member" interface="popover" [(ngModel)]="member" name="member" >
            <ion-select-option  *ngFor="let member of dbMembers" [value]="member.id">{{member.name}}</ion-select-option >
          </ion-select>
        </ion-item>
      </ion-col>
      
    </ion-row>
    
    <ion-row >

      <ion-col size="6">
        <ion-item lines="none">
          <div class="fontClass">Category</div>  
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item lines="none">
          <ion-select class="center"  [placeholder]="category" interface="popover"  [(ngModel)]="category" name="category" >
            <ion-select-option  *ngFor="let categorie of dbCategories" [value]="categorie.id">{{categorie.name}}</ion-select-option >
          </ion-select>
        </ion-item>
      </ion-col>

    </ion-row>
    

    <div class="fontClass">Note</div>
    <ion-item lines="line">
      <ion-textarea class="fontDetails"  [placeholder]="description" clearOnEdit="true" [(ngModel)]="description" name="description" ></ion-textarea>
    </ion-item>
    <br>
    <div class="fontClass" >Is this necessary</div>
    <ion-radio-group [(ngModel)]="unnecessary" [value]="unnecessary" >  

      <ion-row >

        <ion-col size="6">
          <ion-item lines="none">
            <ion-label  [class]="unnecessary==0 ? 'fontDetails' : 'fontClass'" >Yes</ion-label>
            <ion-radio [value]="0" ></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item lines="none">
            <ion-label [class]="unnecessary==1 ? 'fontDetails' : 'fontClass'">No</ion-label>
            <ion-radio [value]="1"></ion-radio>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-radio-group>


    <div class="fontClass">Amount is Rs.<b> {{amount}} /= </b></div>
    <ion-item lines="line">
      <ion-input [placeholder]="amount" class="fontDetails"  type="number" [(ngModel)]="amount" name="amount"></ion-input>
    </ion-item>
   

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button color="warning" expand="block" (click)="editSubmition()">Edit</ion-button>         
        </ion-col>

        <ion-col  size="6">
          <ion-button color="medium" expand="block" (click)="closePopover()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
     
  </div>

</ion-content>