<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-title style="font-family:monospace;">New Spending</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-end">
    <ion-label style="font-style: oblique;font-family: fantasy; font-size:x-small ;">  {{today}} </ion-label>
  </div>
  <div class="ion-text-center">
    <ion-title   style="font-style:inherit;font-family: cursive; font-size:x-large ;">Spend</ion-title>
  </div>
  <br>

  <div> 

    <form [formGroup]="expenditureForm" >

      <ion-grid>

        <ion-row >

          <ion-col size="4">

            <ion-item lines="none">
              <ion-label class="fontClass">Date</ion-label>            
            </ion-item>

          </ion-col>
          
          <ion-col size="8">
            
            <ion-item lines="none">
              <ion-button  class="center"  (click)="showDatePicker()" size="default" expand="full" fill="clear">
                {{displayDate}}
              </ion-button>
            </ion-item>
          </ion-col>

        </ion-row>

      <br>
      
      <ion-row >

        <ion-col size="4">
          <ion-item lines="none">
            <ion-label class="fontClass">Member</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="8">
          <ion-item lines="none">
            <ion-select placeholder="Member" class="center"  interface="popover" [(ngModel)]="member" name="member" formControlName="member">
              <ion-select-option  *ngFor="let member of members" [value]="member.id">{{member.name}}</ion-select-option >
            </ion-select>
          </ion-item>
        </ion-col>

      </ion-row>

      <br>
      <ion-row >

        <ion-col size="4">
          <ion-item lines="none">
            <ion-label class="fontClass">Category</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="8">
          <ion-item lines="none">
            <ion-select placeholder="Category"  class="center" interface="popover"  [(ngModel)]="category" name="category" formControlName="category">
              <ion-select-option  *ngFor="let categorie of categories" [value]="categorie.id">{{categorie.name}}</ion-select-option >
            </ion-select>
          </ion-item>
        </ion-col>

      </ion-row>
      <br>

      <ion-row >

        <ion-col size="4">
          <ion-item lines="none">
            <ion-label class="fontClass">Notes</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="8">
          <ion-item>
            <ion-textarea placeholder="Notes"  class="center" clearOnEdit="true" [(ngModel)]="description" name="description" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>

      </ion-row>

      <br>

      <ion-radio-group [(ngModel)]="unnecessary" formControlName="unnecessary">  

        <ion-row >

          <ion-col size="6">
            <ion-item lines="none">
              <ion-label class="fontClass">Necessary</ion-label>
              <ion-radio [value]="0" ></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item lines="none">
              <ion-label class="fontClass">Unnecessary</ion-label>
              <ion-radio [value]="1"></ion-radio>
            </ion-item>
          </ion-col>

        </ion-row>

      </ion-radio-group>
        
      <br>

      <ion-row >

        <ion-col size="4">
          <ion-item lines="none">
            <ion-label class="fontClass">Amount </ion-label> 
          </ion-item>
        </ion-col>

        <ion-col size="8">
          <ion-item >
            <ion-input placeholder="Rs." class="center"  type="number" [(ngModel)]="amount" name="amount" formControlName="amount"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <br><br>

      <div >

        <ion-grid>

          <ion-row>
              <ion-col size="6">
                <ion-button (click)="clearInputFields()" class="fontClass"  shape="round" expand="block" fill="outline"> Clear </ion-button> 
              </ion-col>
      
              <ion-col size="6">
                <!-- <ion-button color="secondary" class="fontClass" (click)="addExpenditure()" shape="round" expand="block" fill="outline"> Submit </ion-button> -->
                <ion-button  (click)="addExpenditure()" [disabled]="!expenditureForm.valid" color="secondary" class="fontClass" shape="round" expand="block" fill="solid"> Submit </ion-button> 
              </ion-col>
          </ion-row>
      
        </ion-grid>
    
      </div>

      <div >
        <ion-button class="center" (click)="getExpenditures()"  shape="round" expand="block" fill="outline">Get Expenditure </ion-button> 
      </div>
      

    </ion-grid>

  </form>

</div>

</ion-content>