<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" side="start">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-list-header>Menu</ion-list-header>
        </ion-toolbar>
      </ion-header>

      <ion-content> 

        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
            <ion-item  routerLinkActive="selected" [routerLink]="page.path" routerDirection="root" [class.active-menu]="activePath === page.path">
              <ion-icon slot="start" [name]="page.icon + '-outline'"></ion-icon>
            <ion-label  class="fontClass">
              {{page.name}}
            </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        

        <ion-list lines="none">
          <ion-menu-toggle autoHide="false">
            <ion-item  routerLinkActive="selected" [routerLink]="aboutPath" routerDirection="root" [class.active-menu]="activePath === aboutPath">
              <ion-icon slot="start" name="information-circle-outline"></ion-icon>
              <ion-label class="fontClass">
                About
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content" main></ion-router-outlet>

  </ion-split-pane>

</ion-app>