<ion-content>

  <div class="ion-text-center"> 

    
    <div style="font-family:monospace;" class="ion-text-start">{{displayDate}} </div>
    <br>
    <div style="font-family:monospace;" class="ion-text-start"> <b> Total Rs. {{total}} /= </b></div>
  
    <br>
    
    <ion-list> 

      <div *ngFor="let spending of Spendings">

        <div class="fontDetails"> Rs. {{spending.amount}} /= </div>
    
      </div>

    </ion-list>

    <br>

    <ion-button color="success" expand="block" (click)="closePopover()">Ok</ion-button>

  </div>

  
</ion-content>